@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica-Bold.ttf') format('ttf'),
         url('../fonts/Helvetica-BoldOblique.ttf') format('ttf'),
         url('../fonts/Helvetica.ttf') format('ttf');
  }

body {
    font-family: Helvetica, Arial, sans-serif;
    // color: $gray;
    // line-height: 1.7;
    

}
 
